*.iml
target
.props
.build
*mini*.js
installer/svn.properties
schematron-rules-*.xml
schematron-rules-*.xsl
.project
.classpath
.settings
.externalToolBuilders
*/.project
*/.classpath
*/.settings
*/.externalToolBuilders
.idea
