*.iml
target
.props
.build
*mini*.js
installer/svn.properties
schematron-rules-*.xsl
.project
.classpath
.settings
.externalToolBuilders
*/.project
*/.classpath
*/.settings
*/.externalToolBuilders
.idea
web/src/main/webapp/WEB-INF/data/config/schema_plugins/iso19139/loc/*/schematron-rules-*.xml
